#                                        Implementation Of KNN

In [1]:
#Detecting whether our patient have MI Disease or Angina Disease depending upon SYSTLOC BLOOD PRESSURE and WHITE BLOOD COUNT

### Importing Libraries

In [2]:
#Importing some common python libraries
import pandas as pd
import numpy as np

### Loading our Training Dataset

In [3]:
# loading data file into the program. give the location of your csv file
train = pd.read_csv("MI vs Angina.csv")
train.head()

     SBP    WBC Diagnosis
0  10.01  16.58        MI
1  13.81  19.77        MI
2  12.42  11.20        MI
3  11.39  15.87        MI
4   8.14  18.46        MI

In [4]:
train.tail()

      SBP   WBC Diagnosis
15  14.80  7.65    Angina
16  19.98  7.70    Angina
17  16.81  3.85    Angina
18  18.77  5.86    Angina
19  21.70  9.19    Angina

### Calculating Euclidean Distance

In [5]:
#Euclidean Distance = sqrt(sum i to N (x1_i â€“ x2_i)^2)

In [6]:
def Euclidean_Distance(E1, E2, length):
    E_distance = 0
    for i in range(length):
        E_distance += np.square(E1[i] - E2[i])
    return np.sqrt(E_distance)

### Defining our MODEL

In [7]:
import operator
def K_NearestNeighbors(trainingSet, testInstance, k):
    distances = {}
    length = testInstance.shape[1]
    for x in range(len(trainingSet)):
        dist = Euclidean_Distance(testInstance, trainingSet.iloc[x], length)
        distances[x] = dist[i]
    sortdist = sorted(distances.items(), key=operator.itemgetter(1))
    neighbors = []
    for x in range(k):
        neighbors.append(sortdist[x][0])
    Count = {}  # to get most frequent class of rows
    for x in range(len(neighbors)):
        response = trainingSet.iloc[neighbors[x]][-1]
        if response in Count:
            Count[response] += 1
        else:
            Count[response] = 1
    sortcount = sorted(Count.items(), key=operator.itemgetter(1), reverse=True)
    return (sortcount[0][0], neighbors)

### TEST Dataset

In [8]:
# making our ftest data set
TrueLabel = ["MI","MI","MI","MI","MI","Angina","Angina","Angina","Angina","Angina"]
testSet = [[10.13,12.6],
          [8.64,14.66],
          [12.75,21.64],
          [10.17,12.35],
          [12.83,11.95],
          [21.03,4.97],
          [20.22,6.82],
          [15.63,4.98],
          [19.99,7.15],
          [15.41,5.44]]
test = pd.DataFrame(testSet)
test.head(10)

       0      1
0  10.13  12.60
1   8.64  14.66
2  12.75  21.64
3  10.17  12.35
4  12.83  11.95
5  21.03   4.97
6  20.22   6.82
7  15.63   4.98
8  19.99   7.15
9  15.41   5.44

### Prediction

In [9]:
# assigning value to k
K_Neighbors = 3

#initializing an empty list to append the results from loop
result1=[]

# supplying test data to the model
for i in range(0,10):
    result,Neighbors= K_NearestNeighbors(train, test.iloc[[i]], K_Neighbors)
    result1.append(result)

In [10]:
# printing output prediction
print(result1)

['MI', 'MI', 'MI', 'MI', 'MI', 'Angina', 'Angina', 'Angina', 'Angina', 'Angina']

### Working for Accuracy

In [11]:
#checking if the result of our model and true labels are matching
accuracy_list = []

for i in range(0,10):
    if result1[i] == TrueLabel[i]:
        accuracy_list.append(1)
    else:
        accuracy_list.append(0)

In [12]:
# 1 = True
# 0 = False
accuracy_list

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [13]:
Total_values = 10
Sum = sum(accuracy_list)

In [14]:
#Formula for Accuracy Percent
Accuracy = (Sum/Total_values)*100

### Accuracy of K-Nearest Neighbors

In [15]:
print(Accuracy)
#our model is 100-% Accurate

100.0